input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* CSS tags to control the button colors, .btn is the default state,
focus is what happens after the button is clicked,
hover is the response to a rollover */
.btn {
color:rgb(0, 0, 0);
text-align: left;
border-color: rgb(255,255,255);
background-color: rgb(43, 181, 52);
}
.btn:focus{
background-color:rgb(255,255,255);
}
.btn:hover{
border-color: rgb(255,255,255);
background-color: rgb(255,255,255);
color: rgb(255,255,255);
font-weight: bold;
}

/* CSS formating for the rollover buttons */
.quest{
color:rgb(0, 0, 0);
text-align: left;
border-color: rgb(245,245,245);
background-color: rgb(245, 245, 245);
}
.quest:hover{
color:rgb(0, 0, 0);
text-align: left;
border-color: rgb(245,245,245);
background-color: rgb(245, 245, 245);
}

.inTextTips{
color:rgb(0, 0, 0);
text-align: left;
border-color: rgb(255,255,255);
background-color: rgb(255,255,255);
            }
.inTextTips:hover{
color:rgb(0, 0, 0);
text-align: left;
border-color: rgb(255,255,255);
background-color: rgb(255,255,255);
}